app-forms-page {
    .container {
      margin-top: 50px;
    }
    
    .section-title {
      margin-bottom: 20px;
    }
  
    .user-details-container {
      padding: 20px;
      text-align: center;
  
      .user-image {
        width: 100%;
        border-radius: 50%;
      }
  
      .user-title {
        font-size: 14px;
        font-weight: 500;
        margin-top: 30px;
        display: block;
      }
  
      .user-bio {
        font-size: 12px;
        margin-top: 20px;
        display: block;
        color: rgba(0, 0, 0, 0.70);
      }
    }
  
  
  
    .full-width {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .error-message {
      font-size: 12px;
    }
  
    .double-line-hint {
      .mat-input-hint-wrapper {
        flex-wrap: wrap;
  
        .hint-line {
          flex: 0 0 100%;
        }
      }
    }
  
    .submit-btn {
      margin-top: 30px;
    }
  }
.logincontent {
  border: 1px solid #993333;
  border-top: none;
}

.login .logo {
  background-color: #cccc99 !important;
  margin-top: 0px;
  width: 351px;
  border-bottom: 1px solid #993333;
}

.logo {
   border: 1px solid #993333; 
  /* border-bottom: none; */
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 300px !important;
}
.submit-top {
  padding-top: 1.8%;
}
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border-top: none !important;
}