<ng4-loading-spinner> </ng4-loading-spinner>
<div class="content container-fluid">
  <div class="row">
    <div class="col-12">
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>                      
                          <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                </ol>
            </nav>
          </div>

<div class="clear"> </div>
      <div class="row-fluid">
        <div class="panel panel-primary">
          <div class="panel-heading">Change Password</div>
          <div class="panel-body">
            <form [formGroup]="changePasswordDetailsForm" novalidate
              (ngSubmit)="onSubmitChangePasswordDetails(changePasswordDetailsForm.value)">
              <div class="col-md-12">
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="Current Password" formControlName="current_password"
                      required>
                    <mat-error *ngFor="let validation of change_password_validation_messages.current_password">
                      <mat-error class="error-message"
                        *ngIf="changePasswordDetailsForm.get('current_password').hasError(validation.type) && (changePasswordDetailsForm.get('current_password').dirty || changePasswordDetailsForm.get('current_password').touched)">
                        {{validation.message}}</mat-error>
                    </mat-error>
                    <mat-error
                      *ngIf="changePasswordDetailsForm.controls['current_password'].hasError('currentPasswordDuplicate')"
                      class="alert alert-danger">
                      Current password does not match.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div formGroupName="matching_passwords">
                  <div class="col-md-3">
                    <mat-form-field class="full-width">
                      <input matInput type="password" placeholder="Password" formControlName="password" required>
                      <mat-error *ngFor="let validation of change_password_validation_messages.password">
                        <mat-error class="error-message"
                          *ngIf="changePasswordDetailsForm.get('matching_passwords').get('password').hasError(validation.type) && (changePasswordDetailsForm.get('matching_passwords').get('password').dirty || changePasswordDetailsForm.get('matching_passwords').get('password').touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="full-width">
                      <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"
                        [errorStateMatcher]="parentErrorStateMatcher" required>
                      <mat-error *ngFor="let validation of change_password_validation_messages.confirm_password">
                        <mat-error class="error-message"
                          *ngIf="(changePasswordDetailsForm.get('matching_passwords').get('confirm_password').hasError(validation.type)|| changePasswordDetailsForm.get('matching_passwords').hasError(validation.type)) && (changePasswordDetailsForm.get('matching_passwords').get('confirm_password').dirty || changePasswordDetailsForm.get('matching_passwords').get('confirm_password').touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-3 submit-top">
                  <button class="submit-btn mat-raised-button mat-accent" color="accent" mat-raised-button type="submit"
                    [disabled]="!changePasswordDetailsForm.valid">
                    Update Password
                  </button>
                </div>
              </div>
              <div class="form-actions"></div>
            </form>
            <div *ngIf="resetPassword">
              Password Updated Successfully.
              please click <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="['/login']">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
