<ng4-loading-spinner> </ng4-loading-spinner>

<div class="content">
    <div class="">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Alert Group Member</li>
                    </ol>
                </nav>
            </div>

            <div class="clear"> </div>
            <div class="row-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">Alert Group Member Information</div>
                    <div class="panel-body">
                        <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{title}} {{Titles.ALERT_GROUP_MEMBER_FORM}}</div>
                                <div class="panel-body">
                                    <div class="p-24">
                                        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
                                            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24"
                                                fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                                                [formGroup]="addAlertGroupMemberFormGroup" (ngSubmit)="onAddAlertGroupMemberFormSubmit();">

                                                <div class="col-md-12">

                                                  <div class="col-md-3">
                                                    <mat-form-field fxFlex="30">
                                                        <input matInput placeholder="{{FiledLabels.NAME}}"
                                                            [formControl]="addAlertGroupMemberFormGroup.controls['name']"
                                                            required>
                                                        <mat-error
                                                            *ngIf="addAlertGroupMemberFormGroup.controls['name'].hasError('required') && addAlertGroupMemberFormGroup.controls['name'].touched"
                                                            class="alert alert-danger">Enter Name</mat-error>

                                                            <mat-error
                                                        *ngIf="addAlertGroupMemberFormGroup.controls['name'].hasError('duplicateName')"
                                                        class="alert alert-danger">
                                                        Name Already Exist
                                                    </mat-error>
                                                    <mat-error
                                                    *ngIf="addAlertGroupMemberFormGroup.controls['name'].hasError('duplicateNameAndId')"
                                                    class="alert alert-danger">
                                                    Name Already Exists
                                                  </mat-error>
                                                    <mat-error 
                                                            *ngIf="addAlertGroupMemberFormGroup.controls['name'].hasError('maxlength') && addAlertGroupMemberFormGroup.controls['name'].touched"
                                                             class="alert alert-danger">Max 250 characters only
                                                             </mat-error>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-3">
                                                  <mat-form-field fxFlex="30">
                                                      <input matInput placeholder="{{FiledLabels.DESCRIPTION}}"
                                                          [formControl]="addAlertGroupMemberFormGroup.controls['description']"
                                                          required>
                                                      <mat-error
                                                          *ngIf="addAlertGroupMemberFormGroup.controls['description'].hasError('required') && addAlertGroupMemberFormGroup.controls['description'].touched"
                                                          class="alert alert-danger">Enter Description</mat-error>

                                                          <mat-error
                                                      *ngIf="addAlertGroupMemberFormGroup.controls['description'].hasError('duplicateDescription')"
                                                      class="alert alert-danger">
                                                      Description Already Exist
                                                  </mat-error>
                                                  <mat-error
                                                  *ngIf="addAlertGroupMemberFormGroup.controls['description'].hasError('duplicateDescriptionAndId')"
                                                  class="alert alert-danger">
                                                  Description Already Exists
                                                </mat-error>
                                                  <mat-error 
                                                          *ngIf="addAlertGroupMemberFormGroup.controls['description'].hasError('maxlength') && addAlertGroupMemberFormGroup.controls['description'].touched"
                                                           class="alert alert-danger">Max 250 characters only
                                                           </mat-error>
                                                  </mat-form-field>
                                              </div>

                                                
                                                      <div class="col-md-3" >
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                          <mat-select placeholder="Alert Group Id" 
                                                            [formControl]="addAlertGroupMemberFormGroup.controls['alertGroupId']" (ngModelChange)="getAlertGroupData()" required> 
                                                            <mat-option *ngFor="let alertGroupData of alertGroupData"
                                                              [value]="alertGroupData.id">
                                                              {{ alertGroupData.name }}
                                                            </mat-option>
                                                          </mat-select>
                                                        </mat-form-field>
                                                      </div>
                                                      
                                                      <div class="col-md-3" >
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                          <mat-select placeholder="ReceipentsId Id" 
                                                            [formControl]="addAlertGroupMemberFormGroup.controls['receipentsId']" (ngModelChange)="getReceipentsIdData()" required>
                                                            <mat-option *ngFor="let receipentsData of receipentsData"
                                                              [value]="receipentsData.id">
                                                              {{ receipentsData.userName }}
                                                            </mat-option>
                                                          </mat-select>
                                                          <!-- <mat-error *ngIf="addAlertGroupMemberFormGroup.controls['receipentsId'].hasError('duplicateNameAndGroupAndRecipient')" class="alert alert-danger">
		                                                        Name And Group And Recipient Already Exist
		                                                  </mat-error>-->
                                                        </mat-form-field> 
                                                      </div>

                                                    
                                                   
                                                </div>

                                                <div class="clearfix"></div>
                                                <div class="col-md-3 mt-15">
                                                    <div class="float-right" style="float: right;">
                                                        <button class="mat-raised-button mat-accent" color="accent"
                                                            class="d-inline" mat-raised-button="" type="submit"
                                                            [disabled]="addAlertGroupMemberFormGroup.invalid" *ngIf="save">
                                                           {{title}}
                                                        </button>
                                                        <button class="mat-raised-button mat-accent  d-inline"
                                                            color="accent" type="submit" [disabled]="addAlertGroupMemberFormGroup.invalid"
                                                            mat-raised-button="" *ngIf="update">
                                                            {{title}}
                                                        </button>&nbsp;&nbsp;
                                                        <span class="mat-raised-button mat-accent d-inline"
                                                            (click)="onGoBack()" color="warn" mat-raised-button="">
                                                            Back
                                                        </span>
                                                    </div>
                                                </div>


                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>

    