<ng4-loading-spinner> </ng4-loading-spinner>

<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/energy']">Energy</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Energy Consumption</li>
                    </ol>
                </nav>
            </div>
            

            <div class="clear"> </div>
            <div class="row-fluid">
               
                <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{title}} {{Titles.ENERGY_CONSUMPTION}}</div>
                        <div class="panel-body">
                            <div class="p-24">
                                <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

                                    <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                                        fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                                        [formGroup]="addEnergyConsumptionFailFromGroup"
                                        (ngSubmit)="onAddEnergyConsumptionFormSubmit();">

                                        <div class="col-md-12">

                                            <div class="col-md-3">
                                                <mat-form-field fxFlex="30" class="example-full-width">
                                                    <input matInput placeholder="{{FiledLabels.FEEDER}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Feeder_Name']">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <mat-form-field fxFlex="30" class="example-full-width">
                                                    <input matInput placeholder="{{FiledLabels.READING_DATE}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['energyReadingDate']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-3">
                                                <mat-form-field fxFlex="30" class="example-full-width">
                                                    <input matInput placeholder="{{FiledLabels.MF}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Multification_Factor']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-3" fxFlex="30">                                                        
                                                <mat-checkbox [formControl]="addEnergyConsumptionFailFromGroup.controls['Joint_Reading']">Joint Reading</mat-checkbox>                                                        
                                        </div>
                                        <div class="clear"></div>
                                            <div class="col-md-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{FiledLabels.OLD_KWH}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Old_KWH']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.CURRENT_KWH}}" decimalNumber (keyup)="updateKWH($event)"
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Current_KWH']" required>
                                                </mat-form-field>
                                                <mat-error
                                                *ngIf="kwhValidation" style="margin-top: -5%;font-size: 11px;"
                                                class="alert alert-danger">Current value should not be less than old value
                                            </mat-error>
                                            </div>


                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30" class="example-full-width">
                                                    <input matInput placeholder="{{FiledLabels.CONSUMPTION_KWH}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Consumption_KWH']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30" class="example-full-width">
                                                    <input matInput placeholder="{{FiledLabels.OLD_KVAH}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Old_KVAH']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.CURRENT_KVAH}}" decimalNumber 
                                                        (keyup)="updateKVAH($event)"
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Current_KVAH']" required>
                                                </mat-form-field>
                                                <mat-error
                                                *ngIf="kvahValidation" style="margin-top: -5%;font-size: 11px;"
                                                class="alert alert-danger">Current value should not be less than old value
                                            </mat-error>
                                               
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.CONSUMPTION_KVAH}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Consumption_KVAH']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.OLD_RKVAH_LAG}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Old_RKVAH_Lag']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.CURRENT_RKVAH_LAG}}" decimalNumber (keyup)="updateRKVAHLag($event)"
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Current_RKVAH_Lag']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.CONSUMPTION_RKVAH_LAG}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Consumption_RKVAH_Lag']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.OLD_RKVAH_LEAD}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Old_RKVAH_Lead']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.CURRENT_RKVAH_LEAD}}" decimalNumber (keyup)="updateRKVAHLead($event)"
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Current_RKVAH_Lead']" >
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.CONSUMPTION_RKVAH_LEAD}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Consumption_RKVAH_Lead']">
                                                </mat-form-field>
                                            </div>


                                            <div class="col-md-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{FiledLabels.CMD}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['cmd']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4" fxFlex="30">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.PF}}" decimalNumber 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['pf']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4" fxFlex="30">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.CPF}}" decimalNumber 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['cpf']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4" fxFlex="30">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.JOINT_READING_DATE}}"
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['jointReadingDate']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4" fxFlex="30">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.RMD_VALUE}}" decimalNumber
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['rmd']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.VOL_MAX}}" decimalNumber
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Vol_Max']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.VOL_MIN}}" decimalNumber
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Vol_Min']">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <input matInput placeholder="{{FiledLabels.MAX_LOAD}}" decimalNumber
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['Max_Load']">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field>
                                                     <input matInput [owlDateTime]="dt5" style="width: 94%;"
                                                        [owlDateTimeTrigger]="dt5" placeholder="{{FiledLabels.MAX_LOAD_TIME}}"                                                       
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['maxLoadTime']" 
                                                        [min]="minDateMax"
                                                        [max]="maxDateMax">                                                                
                                                        <owl-date-time #dt5 [showSecondsTimer]=true
                                                            ></owl-date-time>
                                                        <span [owlDateTimeTrigger]="dt5"><i class="fa fa-calendar"></i></span>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field fxFlex="30">
                                                    <textarea textareaAutoresize matInput placeholder="{{FiledLabels.REMARKS}}" 
                                                        [formControl]="addEnergyConsumptionFailFromGroup.controls['remarks']"
                                                        > </textarea>                       
                                                        <mat-error
                                                        *ngIf="addEnergyConsumptionFailFromGroup.controls['remarks'].hasError('pattern') && addEnergyConsumptionFailFromGroup.controls['remarks'].touched"
                                                        class="alert alert-danger">Special characters are not allowed
                                                    </mat-error>                                   
                                                    <mat-error
                                                        *ngIf="addEnergyConsumptionFailFromGroup.controls['remarks'].hasError('maxlength') && addEnergyConsumptionFailFromGroup.controls['remarks'].touched"
                                                        class="alert alert-danger">Max 250 characters only
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>


                                            <div class="clearfix"></div>
                                            <div class="col-md-3 mt-15">
                                                <div class="float-right" style="float: right;">
                                                    <button class="mat-raised-button mat-accent" color="accent"
                                                        class="d-inline" mat-raised-button="" type="submit"
                                                        [disabled]="addEnergyConsumptionFailFromGroup.invalid"
                                                        *ngIf="save">
                                                        {{title}}
                                                    </button>
                                                    <button class="mat-raised-button mat-accent  d-inline"
                                                        color="accent" mat-raised-button="" *ngIf="update">
                                                       {{title}}
                                                    </button>&nbsp;&nbsp;
                                                    <span class="mat-raised-button mat-accent d-inline"
                                                        (click)="onGoBack()" color="warn" mat-raised-button="">
                                                        Back
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>