.mat-column-sno {
  flex: 0 0 70px;
}
.mat-column-drive {
  flex: 0 0 240px;
}
.mat-column-description {
  flex: 0 0 240px;
}
.mat-column-assetType {
  flex: 0 0 150px;
}
.mat-column-population {
  flex: 0 0 75px;
}
.mat-column-target {
  flex: 0 0 75px;
}
.mat-column-alreadyDone {
  flex: 0 0 100px;
}
.mat-column-performedCount {
  flex: 0 0 120px;
}
.mat-column-ids {
  flex: 0 0 100px;
}