.mat-column-sno {
    flex: 0 0 70px;
  }
.mat-column-depot {
    flex: 0 0 120px;
  }
  .mat-column-drive {
    flex: 0 0 450px;
  }
  .mat-column-description {
    flex: 0 0 450px;
  }
  .mat-column-performedCount {
    flex: 0 0 100px;
  }
  .mat-column-check{
    flex: 0 0 100px;
  }
 