<ng4-loading-spinner> </ng4-loading-spinner>
<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Event Alert Recipient</li>
                    </ol>
                </nav>
            </div>

            <div class="clear"> </div>
            <div class="row-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">Event Alert Recipient</div>
                    <div class="panel-body">

                        
                        <div class="panel panel-primary">
                            <div class="panel-heading">Event Alert Recipient Information</div>
                            <div class="panel-body">
                                <div id="forms" class="page-layout simple fullwidth" fxLayout="column"
                                    fusePerfectScrollbar>
                                   

                                    <div class="p-24">

                                        <div class="example-header">
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput (keyup)="applyFilter($event.target.value)"
                                                        placeholder="Filter">
                                                </mat-form-field>
                                            </div>
                                             
                                    <div style="text-align: right; padding-top: 12px;">
                                        <button class="mat-raised-button mat-accent" color="accent" mat-raised-button=""
                                            [routerLink]="['add-event-alert-recipient']">
                                            Add Event Alert
                                        </button>
                                    </div>
                                          
                                        </div>
                                        <div class="clear"> </div>
                                        <div class="example-container mat-elevation-z8">

                                            <mat-table [dataSource]="filterData.dataSource" matSort>

                                                <ng-container matColumnDef="sno">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        <span>{{FiledLabels.S_NO}}</span>
                                                        <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData">
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.sno}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="name">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        <span>{{FiledLabels.NAME}}</span>
                                                        <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData">
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="eventTypeId">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        <span>{{FiledLabels.EVENT_ID}}</span>
                                                        <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData">
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.eventTypeId.name}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="alertGroupId">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        <span>{{FiledLabels.ALERT_GROUP_ID}}</span>
                                                        <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData">
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.alertGroupId.name}}</mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="alertGroupMemberId">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        <span>{{FiledLabels.ALERT_GROUP_MEMBER_ID}}</span>
                                                        <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[4].Value" [filter]="filterData">
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.alertGroupMemberId.name}}</mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="actions">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        <span>{{FiledLabels.ACTIONS}}</span>
                                                        <input matInput type="text" disabled (keyup) ="updatePagination()" />
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <button mat-icon-button matTooltip="View"
                                                       (click)="ViewData(row)">
                                                    <mat-icon style="color: rgb(0, 145, 234);">preview</mat-icon>
                                                </button>
                                                        <a mat-icon-button matTooltip="Edit">
                                                            <button mat-icon-button matTooltip="Edit"
                                                                (click)="processEditAction(row.id)">
                                                                <mat-icon style="color: rgb(0, 145, 234);">edit
                                                                </mat-icon>
                                                            </button>
                                                        </a>
                                                        <button mat-icon-button matTooltip="Delete"
                                                            (click)="delete(row.id)">
                                                            <mat-icon style="color: rgb(244, 67, 54);">delete</mat-icon>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>
                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                                </mat-row>
                                            </mat-table>

                                            <mat-paginator [pageSizeOptions]="pagination" showFirstLastButtons></mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        