
.mat-column-sno {
  flex: 0 0 80px;
}
  .mat-column-name {
    flex: 0 0 200px;
  }
  .mat-column-description {
    flex: 0 0 200px;
  }
  .mat-column-assetType {
    flex: 0 0 80px;
  }
  .mat-column-fromDate {
    flex: 0 0 80px;
  }
  .mat-column-toDate {
    flex: 0 0 80px;
  }
  .mat-column-functionalUnit {
    flex: 0 0 80px;
  }
  // .mat-column-frequency {
  //   flex: 0 0 130px;
  // }
  .mat-column-depoType {
    flex: 0 0 80px;
  }
  .mat-column-active {
    flex: 0 0 40px;
  }
  .mat-column-actions {
    flex: 0 0 200px;
  } 